@model Web.Infrastructure.Models.Login.LoginModel
<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
                <!-- Login Form s-->
                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "loginForm" })) // Tạo form với action trỏ tới phương thức "Login" trong controller "Account"
                {
                    <div class="login-form">
                        <h4 class="login-title">Create account</h4>
                        <p><span class="font-weight-bold">I am a new customer</span></p>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label for="email">Full Name</label>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "mb-0 form-control", placeholder = "Enter your full name", id = "name", required = "required" })
                            </div>
                            <div class="col-12 mb--20">
                                <label for="email">Email</label>
                                @Html.TextBoxFor(model => model.UserEmail, new { @class = "mb-0 form-control", placeholder = "Enter Your Email Address Here..", id = "email", required = "required" })
                                @Html.ValidationMessageFor(m => m.UserEmail, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-lg-6 mb--20">
                                <label for="password">Password</label>
                                @Html.TextBoxFor(model => model.Password, new { @class = "mb-0 form-control", type = "password", placeholder = "Enter your password", id = "password", required = "required" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-lg-6 mb--20">
                                <label for="password">Repeat Password</label>
                                @Html.TextBoxFor(model => model.RepeatPassword, new { @class = "mb-0 form-control", type = "password", placeholder = "Repeat your password", id = "password", required = "required" })
                                @Html.ValidationMessageFor(m => m.RepeatPassword, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outlined">Register</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                @* <form action="./"> *@
                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "loginForm" })) 
                {
                    <div class="login-form">
                        <h4 class="login-title">Returning Customer</h4>
                        <p><span class="font-weight-bold">I am a returning customer</span></p>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label for="email">Enter your email address here...</label>
                                @Html.TextBoxFor(model => model.UserEmail, new { @class = "mb-0 form-control", placeholder = "Enter Your Email Address Here..", id = "email", required = "required" })
                                @Html.ValidationMessageFor(m => m.UserEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 mb--20">
                                <label for="password">Password</label>
                                @Html.TextBoxFor(model => model.Password, new { @class = "mb-0 form-control", type = "password", placeholder = "Enter your password", id = "password", required = "required" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outlined">Login</button>
                            </div>
                        </div>
                    </div>
                    @* </form> *@
                }
            </div>
        </div>
    </div>
</main>